@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 210 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 3.9%;

    --primary: 210 80% 36%;
    --primary-foreground: 0 0% 98%;

    --secondary: 210 80% 90%;
    --secondary-foreground: 210 80% 36%;

    --muted: 210 4.8% 95.9%;
    --muted-foreground: 210 3.8% 46.1%;

    --accent: 210 4.8% 95.9%;
    --accent-foreground: 210 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 210 5.9% 90%;

    --input: 210 5.9% 90%;

    --ring: 210 80% 36%;

    --chart-1: 210 80% 60%;
    --chart-2: 210 60% 45%;
    --chart-3: 210 40% 30%;
    --chart-4: 210 70% 50%;
    --chart-5: 210 90% 40%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 200 74% 5%;
    --foreground: 0 0% 98%;
    --card: 200 74% 8.5%;
    --card-foreground: 0 0% 98%;
    --popover: 215 32% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 215 65% 50%;
    --primary-foreground: 210 5.9% 10%;
    --secondary: 215 25% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 200 74% 12.5%;
    --muted-foreground: 210 5% 64.9%;
    --accent: 200 74% 9.5%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 3.7% 15.9%;
    --input: 210 3.7% 15.9%;
    --ring: 210 4.9% 83.9%;
    --chart-1: 210 70% 50%;
    --chart-2: 210 60% 45%;
    --chart-3: 210 80% 55%;
    --chart-4: 210 65% 60%;
    --chart-5: 210 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  
  .Toggle[data-state="on"] {
    background-color: var(--primary);
    color: var(--primary-foreground);
  }
}

.noScrollbar::-webkit-scrollbar {
  display: none;
}

.noScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes progress-bar {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(300%);
  }
}

@layer utilities {
  .animate-progress-bar {
    animation: progress-bar 1.5s infinite linear;
  }
}